<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update
        -->
        <add key="repositoryPath" value="../PackagesCache" />
		<add key="globalPackagesFolder" value="../PackagesCache" />
		
		<add key="dependencyversion" value="Highest" />
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <add key="ESGI" value="../ESGI/Libs/ESGILibs" />
        <add key="ThirdPartyLibs" value="../ESGI/Libs/ThirdPartyLibs" />
    </packageSources>

	<disabledPackageSources>
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>